# local auth directory for sensitive files that should not be stored in git
auth
# generic codecollection repo/development path
*codecollection*
.env
__pycache__
*robot_logs*
.python-version
.vscode/settings.json
node_modules/
package-lock.json
package.json
/workspace/codecollection-devtools/rw-cli-codecollection
/workspace/codecollection-devtools/rw-generic-codecollection
